@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}